<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>A1-乌拉圭</string>
		<key>image</key>
		<string>a1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A2-俄罗斯</string>
		<key>image</key>
		<string>a2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A3-沙特阿拉伯</string>
		<key>image</key>
		<string>a3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A4-埃及</string>
		<key>image</key>
		<string>a4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B1-西班牙</string>
		<key>image</key>
		<string>b1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B2-葡萄牙</string>
		<key>image</key>
		<string>b2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B3-伊朗</string>
		<key>image</key>
		<string>b3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B4-摩洛哥</string>
		<key>image</key>
		<string>b4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C1-法国</string>
		<key>image</key>
		<string>c1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C2-丹麦</string>
		<key>image</key>
		<string>c2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C3-秘鲁</string>
		<key>image</key>
		<string>c3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C4-澳大利亚</string>
		<key>image</key>
		<string>c4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D1-克罗地亚</string>
		<key>image</key>
		<string>d1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D2-阿根廷</string>
		<key>image</key>
		<string>d2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D3-尼日利亚</string>
		<key>image</key>
		<string>d3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>D4-冰岛</string>
		<key>image</key>
		<string>d4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>E1-巴西</string>
		<key>image</key>
		<string>e1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>E2-瑞士</string>
		<key>image</key>
		<string>e2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>E3-塞尔维亚</string>
		<key>image</key>
		<string>e3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>E4-哥斯达黎加</string>
		<key>image</key>
		<string>e4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>F1-瑞典</string>
		<key>image</key>
		<string>f1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>F2-墨西哥</string>
		<key>image</key>
		<string>f2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>F3-韩国</string>
		<key>image</key>
		<string>f3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>F4-德国</string>
		<key>image</key>
		<string>f4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G1-比利时</string>
		<key>image</key>
		<string>g1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G2-英格兰</string>
		<key>image</key>
		<string>g2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G3-突尼斯</string>
		<key>image</key>
		<string>g3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>G4-巴拿马</string>
		<key>image</key>
		<string>g4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>H1-哥伦比亚</string>
		<key>image</key>
		<string>h1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>H2-日本</string>
		<key>image</key>
		<string>h2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>H3-塞内加尔</string>
		<key>image</key>
		<string>h3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>H4-波兰</string>
		<key>image</key>
		<string>h4</string>
	</dict>
</array>
</plist>
